# Node dependencies
node_modules/

# Local env configs
.env

# Build outputs
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# SQLite database files
*.sqlite
*.sqlite3
*.db

# Uploads directory
backend/uploads/*
!backend/uploads/.gitkeep

